<%- include ('../partial/header') %>
<section class="product-card">
    <form name="productDiscount" id="pdID" action="http://localhost:4000/dashboard/discount/basket" method="post">
        <div class="product-add">
            <label for="title">Basket Discount*</label>
            <input type="text" name="basket" 
                placeholder="Enter Basket Price" maxlength="255" required>
        </div>

        <div class="product-add">
            <label for="title">Discount*</label>
            <input type="text" name="discount" 
                placeholder="Enter Discount price in INR" maxlength="255" required>
        </div>
        
        <div style="text-align: right;">
            <button><a style="color: white;" href="/dashboard">Cancel</a></button>
            <button type="submit">Save</button>
        </div>
    </form>
</section>

<%- include ('../partial/footer') %>
