<%- include ('../partial/header') %>
<section class="product-card">
    <form name="productDiscount" id="pdID" action="http://localhost:4000/dashboard/discount/configure" method="post">
        <div class="product-add">
            <label for="title">Product Name*</label>
            <input type="text" name="product_name" 
                placeholder="Enter Name" maxlength="255" required>
        </div>
        <div class="product-add">
            <label for="title">Quantity*</label>
            <input type="Number" name="quantity" 
                placeholder="Enter Quantity" maxlength="255" required>
        </div>
        <div class="product-add">
            <label for="title">Discount INR*</label>
            <input type="Number" name="price" 
                placeholder="Enter INR" maxlength="255" required>
        </div>
        <div style="text-align: right;">
            <button><a style="color: white;" href="/dashboard">Cancel</a></button>
            <button type="submit">Save</button>
        </div>
    </form>
</section>

<%- include ('../partial/footer') %>
