<%- include ('../partial/header') %>

    <section class="product-card">
        <form name="productAdd" id="pAddID" action="http://localhost:4000/dashboard/product" method="post">
            <div class="product-add">
                <label for="title">Product Name*</label>
                <input type="text" name="product_name" 
                    placeholder="Enter Name" maxlength="255" required>
            </div>
            <div class="product-add">
                <label for="title">Product Price * </label>
                <input type="text" name="price" 
                    placeholder="Enter Price" maxlength="255" required>
            </div>
            <div style="text-align: right;">
                <button><a style=" color: white;" href="/dashboard">Cancel</a></button>
                <button type="submit">+ Add</button>
            </div>
        </form>
    </section>
<%- include ('../partial/footer') %>
