<%- include ('../partial/header') %>
            <section class="product-card">
                    <ul id="product-list">
                    <% response.map(item=>{%>
                        <li class="product-list-item">
                            <div class="product-item"><%-item.name%></div>
                            <div class="product-price">
                                <div id="<%-item.name%>,<%-item.price%>">
                                    <label for="amount">Price : </label>
                                    <input id="<%-item.name%>" type="Number" name="<%-item.name%>" value="<%-item.price%>">
                                    <button class="cartButton">+ Add</button>
                                </div>
                            </div>
                        </li>
                        <%}) %>
                    </ul>

                </form>
            </section>

<%- include ('../partial/footer') %>

   