@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

html {
	font-family: 'Noto Sans JP', sans-serif;
}

body {
	margin: 0;
	background-color: #3f3f3f;
}

.navigation {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	background-color: #8a2b06;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	z-index: 10;
}

.product-card {
	max-width: 60rem;
	width: 50%;
	margin: 2rem auto;
	margin-top: 100px;
	padding: 1rem;
	box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
	border-radius: 14px;
	background-color: white;
}

.product-item {
	padding: 1rem;
	box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
	border-radius: 14px;
	background-color: white;
	margin: 1rem;
}

.product-price {
	text-align: right;
}

.product-list-item {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
	font: inherit;
	cursor: pointer;
	background-color: #8a2b06;
	border: 1px solid #8a2b06;
	color: white;
	padding: 0.25rem 2rem;
	border-radius: 20px;
	font-weight: bold;
	margin: 1rem;
}

input {
	width: 3rem;
	border-radius: 5px;
	border: 1px solid #ccc;
	font: inherit;
	padding-left: 0.5rem;
}

.product-add {
	margin: 1rem;
	display: flex;
	justify-content: space-evenly;
}

nav a:link {
	text-decoration: none;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	margin: 1rem;
}

.product-add input {
	width: 30%;
}

.price {
	padding: 5px 30px 0px 30px;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.75);
}

.modal {
	position: fixed;
	top: 20vh;
	left: 20%;
	width: 60%;
	background-color: white;
	padding: 1rem;
	border-radius: 14px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	z-index: 30;
	animation: slide-down 300ms ease-out forwards;
}

.modal-content {
	display: flex;
	justify-content: space-between;
}

.actions {
	display: flex;
	justify-content: space-between;
}
}