
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link href="/css/main.css" rel="stylesheet" />
        <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script> var BASE_URL = '<%=(global.BASEURL)%>'; </script>
    </head>
    <body>
        <header class="header">
            <span>
                <a href="/dashboard">
                    <span  style="color:white"> Cybrilla E Commerce</span>
                </a>
            </span>
            <nav>
                <a href="/dashboard/add">
                    <span>Add Product</span>
                </a>
                <a href="/dashboard/discount">
                    <span>Configure Discount</span>
                </a>
                <a href="/dashboard/discount/basket">
                    <span>Basket Discount</span>
                </a>
                <a  id="cartVal" href="javascript:void(0)">
                </a>
            </nav>
        </header>
       
        <main>

        <div id="myModal" class="modal" style="display: none;">
            <div id='modal-content' class="content">
                <ul id="total" class="">
                    
                </ul>
                <div class="actions">
                    <button id="modal-close" class="">
                        Close
                    </button>
                    <div id="finalPrice" style="text-align: right;">
                        
                    </div>
                </div>
            </div>
        </div>

        <div id="backdrop"></div>

