<title>404 Page Not Found</title>
    <body>
        <div class="row h-100">
            <div class="col-sm-12 my-auto text-center">
                <h1>404 Page Not Found</h1>
            </div>
        </div>
    </body>
</html>